<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
<title>Free Web templates by TemplatesPerfect.com</title>
<link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<table width="779" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td width="562">
			<table width="779" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="217" valign="top" bgcolor="#757168">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td id="logo-bg" valign="top">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr><td height="70" align="center"><img src="images/logo.gif" alt="Jewellery" width="116" height="42"/></td></tr>
										<tr><td class="name">Company Name</td></tr>
									</table>
								</td>
							</tr>
							<tr>
								<td height="36" class="heading">Categories</td>
							</tr>
							<tr>
								<td>
									<table width="92%" border="0" align="center" cellpadding="0" cellspacing="0">
										<tr><td class="cat-links"><a href="#">Category 1</a></td></tr>
										<tr><td class="cat-links"><a href="#">Category 2</a></td></tr>
										<tr><td class="cat-links"><a href="#">Category 3</a></td></tr>
										<tr><td class="cat-links"><a href="#">Category 4</a></td></tr>
										<tr><td class="cat-links"><a href="#">Category 5</a></td></tr>
										<tr><td class="cat-links"><a href="#">Category 6</a></td></tr>
										<tr><td class="cat-links"><a href="#">Category 7</a></td></tr>
										<tr><td class="cat-links"><a href="#">Category 8</a></td></tr>
										<tr><td class="cat-links"><a href="#">Category 9</a></td></tr>
										<tr><td class="cat-links"><a href="#">Category 10</a></td></tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
					<td width="562" valign="top" bgcolor="#86867A">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr><td height="14" bgcolor="#33383C"></td></tr>
							<tr><div class="inner_copy"></div>
								<td id="header-bg">
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="tag">Company Slogan<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tag2">will come here...</span></td>
											<td id="jewellery"></td>
											<td width="19"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td valign="top">
									<table border="0" align="center" cellpadding="0" cellspacing="0">
										<tr>
											<td class="toplinks"><a href="#">Homepage</a></td><td class="sap"></td>
											<td class="toplinks"><a href="#">About us</a></td><td class="sap"></td>
											<td class="toplinks"><a href="#">Products</a></td><td class="sap"></td>
											<td class="toplinks"><a href="#">Services</a></td><td class="sap"></td>
											<td class="toplinks"><a href="#">Contact</a></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td bgcolor="#CECFC9">
									<table border="0" cellspacing="0" cellpadding="0">
										<tr>
										<td class="section"><table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td class="p-head-1">Product<br/>
													<span class="p-head-2">Name</span></td>
												<td width="180" align="center"><img src="images/product-1.jpg" alt="Jewellery" width="140" height="113"/></td>
											</tr>
										</table></td>
										<td width="2" bgcolor="#767369"></td>
										<td class="section"><table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr>
												<td class="p-head-1">Product<br/>
													<span class="p-head-2">Name</span></td>
												<td width="180" align="center"><img src="images/product-2.jpg" alt="Jewellery" width="152" height="113"/></td>
											</tr>
										</table></td>
									</tr>
								</table>
							</td>
						</tr>
							<tr><td height="10"></td></tr>
							<tr><td class="heading">Welcome <span class="tag2">to our website!</span></td></tr>
							<tr><td valign="top" bgcolor="#fff" id="main">sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text sample text </td></tr>
							<tr><td class="read-more"><a href="#">read more</a></td></tr>
							<tr><td>&nbsp;</td></tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" style="background-image:url(images/bottom.gif); background-repeat:repeat-x; height:62px;">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td height="30">
						<table border="0" align="center" cellpadding="0" cellspacing="0">
							<tr>
								<td class="bottomlinks"><a href="#">Homepage</a></td><td class="sap2">|</td>
								<td class="bottomlinks"><a href="#">About us</a></td><td class="sap2">|</td>
								<td class="bottomlinks"><a href="#">Products</a></td><td class="sap2">|</td>
								<td class="bottomlinks"><a href="#">Services</a></td><td class="sap2">|</td>
								<td class="bottomlinks"><a href="#">Contact</a></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
<div id="footer"><div class="fleft">Copyright Statement</div><div class="fright">Popular free templates <a href="http://www.websitetemplatesonline.com" target="_blank">at www.WebsiteTemplatesOnline.com</a>. Free <a href="http://www.getjoomlatemplatesfree.com" title="Free Templates for Joomla CMS">Joomla Website Templates</a>.</div><div class="fcenter">Design by: <a href="http://www.templatesperfect.com/">Templatesperfect.com</a></div></div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>
